@helper Submit(string value, string classe)
{
    <input tye="submit" value="@value" class="@classe" />
}

@helper Message(string mensagem)
{
    if (@mensagem != null)
    {
        <div class="alert alert-success">
            @mensagem
        </div>
    }
}